.venv/
.venv_anomalib/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

data/
outputs/
mvtec_anomaly_detection/
mvtec_anomaly_detection_tar/

*.zip
*.tar
*.tar.xz
*.npz
*.pt
*.pth
*.ckpt
*.onnx

*.egg-info/

.vscode/

results/
~$*.docx
